.root {

}

.toolbar {
    display: flex;
    padding: 8px;
}

.add-tile-container {
    flex: 1;
}

.add-tile-button {
    margin-left: 8px;
}

.layout {
}

.tile {
    border: 1px solid black;
    border-radius: 4px;
}
